<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order confirmation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">

        <h1>Confirmation of your order</h1>
        <p>
            <strong>Order ID: </strong>
            <span th:text="${order.id}"></span>
        </p>

        <p>
            <strong>Order date: </strong>
            <span th:text="${order.orderDate}"></span>
        </p>

        <p>
            <strong>Total paid: </strong>
            $<span th:text="${order.totalAmount}"></span>
        </p>

        <h2>Items purchased: </h2>
        <table border="1">
            <thead>
            <tr>
                <th>Item</th>
                <th>Details</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${order.products}">

                <td th:if="${product instanceof T(csd230.lab1.entities.PublicationEntity)}">
                Publication
                </td>

                <td th:if="${product instanceof T(csd230.lab1.entities.PublicationEntity)}"
                    th:text="'Title: ' + ${product.title}">
                </td>

                <td th:if="${product instanceof T(csd230.lab1.entities.ElectronicEntity)}">
                    Electronic device
                </td>
                <td th:if="${product instanceof T(csd230.lab1.entities.ElectronicEntity)}"
                    th:text="'Serial number: ' + ${product.serialNumber}">
                </td>

                <td th:if="${product instanceof T(csd230.lab1.entities.TicketEntity)}">
                    Ticket
                </td>
                <td th:if="${product instanceof T(csd230.lab1.entities.TicketEntity)}"
                    th:text="'description: ' + ${product.description}">
                </td>

                <td th:text="'Price: ' + ${product.price}"></td>

            </tr>
            </tbody>
        </table>
        <br/>
        <p>
            <a th:href="@{/books}">Continue Shopping</a>
        </p>
    </div>
</body>
</html>
